.nfm-header
  .ui.secondary.menu
    .logo.item nfm

    if userInfo
      .right.menu
        a.item(href='javascript:;')
          img.ui.image(src='//semantic-ui.com/images/avatar/small/helen.jpg') 
          i.dropdown.icon