doctype html
html(lang='zh-CN')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width initial-scale=1.0 maximum-scale=1.0')
    block title
      title nfm-ui
    link(rel='stylesheet' href=urls.css + 'libs/semantic/dist/semantic.css')
    block header
  body
    block body
    // message start
    .nfm-message.ui.blue.message
      i.close.icon
      .header 提示：
      p 这里是提示信息。
    // message end
    // dialog alert start
    // 备注：添加class active显示弹窗
    .J_Dialog_Alert.nfm-dialog.ui.dimmer.visible
      .ui.small.modal.active
        .header Modal Title
        .content
          p Are you sure you want to delete your account
        .actions
          .J_Dialog_Close.ui.red.cancel.button
            i.remove.icon
            |  No
          .ui.green.ok.button
            i.checkmark.icon
            |  Yes
    // dialog alert end

    // new folder dialog start
    // 备注：
    //    nfm-dialog添加active显示弹窗 
    //    form添加loading显示加载中效果
    //    form添加error显示错误信息
    .J_Dialog_New.nfm-dialog.ui.dimmer.visible
      .ui.small.modal.active
        .header New Folder
        .content
          form.ui.form
            .field.required
              label First Name
              input(type='text' name='first-name' placeholder='First Name' maxlength='10')
            .field.required.error
              label Last Name
              input(type='text' name='last-name' placeholder='Last Name' maxlength='10')
            .field
              .ui.toggle.checkbox
                input.hidden(type='checkbox' name='public' tabindex='0')
                label Subscribe to weekly newsletter
            .ui.error.message
              .header Error
              p You can only sign up for an account once with a given e-mail address.
            button.ui.button.green Submit
            button.ui.button.J_Dialog_Close Cancel
    // new folder dialog end

    // upload dialog start
    // 备注：
    //    nfm-dialog添加active显示弹窗 
    //    form添加loading显示加载中效果
    //    form添加error显示错误信息
    .J_Dialog_Upload.nfm-dialog.ui.dimmer.visible
      .ui.small.modal.active
        .header Upload
        .content
          form.ui.form
            .field.required.error
              label Title
              input(type='text' name='title' placeholder='Title' maxlength='10')
            .field
              label File/Zips
              input(type='file' name='files' multiple='multiple')
            .field
              .ui.toggle.checkbox
                input.hidden(type='checkbox' name='public' tabindex='0')
                label auto unzip
            .ui.error.message
              .header Error
              p You can only sign up for an account once with a given e-mail address.
            button.ui.button.green Submit
            button.ui.button.J_Dialog_Close Cancel
    // upload dialog end

    // loadingbar start
    .nfm-loadingbar.waiting
      dt
      dd
    // loadingbar end
    block footer
