extends layouts/_layout

block header
  link(rel='stylesheet' href='/libs/hint.css/hint.css')
  link(rel='stylesheet' href='/css/load.css')
  link(rel='stylesheet' href='/css/nfm.css')

block body
  // 载入动画 start
  .nfm-load
    .spinner
      .double-bounce1
      .double-bounce2
  // 载入动画 end
  .nfm-container-index
    // header start
    include layouts/_header
    // header end
    // sidebar start
    .nfm-sidebar
      .sidebar-main
        ul
          li
            a(href='javascript:;')
              i.mini.caret.down.icon
              i.i-color.folder.open.icon
              i.spinner.loading.icon
              |  css
            ul
              li
                a(href='javascript:;')
                  i.mini.caret.down.icon
                  i.i-color.folder.open.icon
                  i.spinner.loading.icon
                  |  index
                ul
                  li
                    a(href='javascript:;')
                      i.mini.icon
                      i.nfm-icon.i-css.icon
                      |  index.css
                  li
                    a(href='javascript:;')
                      i.mini.icon
                      i.nfm-icon.i-postcss.icon
                      |  modules.pcss
              li
                a(href='javascript:;')
                  i.mini.caret.down.icon
                  i.i-color.folder.open.icon
                  i.spinner.loading.icon
                  |  layout
                ul
                  li
                    a(href='javascript:;')
                      i.mini.icon
                      i.nfm-icon.i-css.icon
                      |  layout.css
          li
            a(href='javascript:;')
              i.mini.caret.down.icon
              i.i-color.folder.open.icon
              i.spinner.loading.icon
              |  images
            ul
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-image.icon
                  |  banner_01.jpg
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-image.icon
                  |  banner_02.jpg
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-image.icon
                  |  banner_03.jpg
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-image.icon
                  |  banner_04.jpg
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-image.icon
                  |  banner_05.jpg
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-image.icon
                  |  sprites.png
          li
            a(href='javascript:;')
              i.mini.caret.down.icon
              i.i-color.folder.open.icon
              i.spinner.loading.icon
              |  js
            ul
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-js.icon
                  |  index.js
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-js.icon
                  |  detail.js
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-js.icon
                  |  layout.js
          li
            a(href='javascript:;')
              i.mini.caret.right.icon
              i.i-color.folder.icon
              i.spinner.loading.icon
              |  Node4
    // sidebar end
    // workspace start
    .nfm-workspace
      // operate start
      .workspace-operate
        // search start
        // 备注：搜索时添加class loading，disabled
        .ui.right.action.left.icon.input
          i.icon.search
          input(type='text' placeholder='Search...')
          .J_SearchBtn.ui.basic.floating.dropdown.button
            .text This Page
            i.dropdown.icon
            .menu
              .item This Page
              .item All Files
        // search end
        .ui.small.buttons
          button.ui.primary.basic.button.hint--bottom.hint--rounded(aria-label='Create a new folder')
            i.wizard.icon
            | New
          button.ui.primary.basic.button.hint--bottom.hint--rounded(aria-label='Upload files/zips')
            i.upload.icon
            | Upload
      // operate end
      .workspace-breadcrumb
        i.home.icon
        .ui.small.breadcrumb
          a.section Home
          .divider  / 
          a.section Store
          .divider  / 
          .active.section
            | T-Shirt
            a.J_Favorite.hint--bottom.hint--rounded(href='javascript:;' aria-label='Add to favorites')
              i.icon.empty.star.yellow
      // nfm table start
      .workspace-table
        table.ui.fixed.table
          thead
            tr
              th(style='width:40px;')
              th Name
              th(style='width:150px;') Title
              th(style='width:100px;') Size
              th(style='width:100px;') Author
              th(style='width:150px;') Date last modified
              th(style='width:100px;')
          tbody
            tr
              td(style='width:40px;')
                i.i-color.folder.icon
              td(style='width:300px;') one
              td(style='width:150px;') 旗舰店
              td(style='width:100px;')
              td(style='width:100px;') LionHL
              td 4 hours age
              td
                i.icon.circular.cloud.upload.small.disabled
                i.icon.circular.protect.small.disabled
            tr
              td
                i.i-color.folder.icon
              td one
              td PC ONE
              td
              td LionHL
              td 2 days ago
              td
                i.icon.circular.cloud.upload.small.green
                i.icon.circular.protect.small.green
            tr
              td
                i.i-color.folder.icon
              td life
              td PC life
              td
              td LionHL
              td 2 years age
              td
                i.icon.circular.cloud.upload.small.disabled
                i.icon.circular.protect.small.disabled
            tr
              td
                i.i-color.folder.icon
              td life
              td PC life
              td
              td LionHL
              td 54 minutes age
              td
                i.icon.circular.cloud.upload.small.green
                i.icon.circular.protect.small.disabled
            tr
              td
                i.i-color.folder.icon
              td life
              td PC life
              td
              td LionHL
              td 21 days ago
              td
                i.icon.circular.cloud.upload.small.disabled
                i.icon.circular.protect.small.green
            tr
              td
                i.i-color.folder.icon
              td life
              td PC life
              td
              td LionHL
              td 3 years ago
              td
                i.icon.circular.cloud.upload.small.green
                i.icon.circular.protect.small.disabled
            tr
              td
                i.i-color.folder.icon
              td last
              td PC life
              td
              td LionHL
              td 10 months ago
              td
                i.icon.circular.cloud.upload.small.disabled
                i.icon.circular.protect.small.disabled
      // nfm-table end
    // workspace end
    // history start
    .nfm-history
      h4.history-title.clearfix
        span.left 文件历史
        a.right(href='javascript:;')
          i.remove.icon.history-close
      h4.ui.horizontal.divider
        i.history.icon
      .history-list
        .ui.feed.clearfix
          .event
            .label
              img(src='http://semantic-ui.com/images/avatar/small/elliot.jpg')
            .content
              .summary
                .date 4 hours ago
                a.J_HistoryReset.hint--bottom-left.hint--rounded(aria-label='Reset to this version' href='javascript:;')
                  i.icon.repeat
                a.J_HistoryCompare.hint--bottom-left.hint--rounded(aria-label='Compare with current version' href='javascript:;')
                  i.icon.file.code.outline
        .ui.feed.clearfix
          .event
            .label
              img(src='http://semantic-ui.com/images/avatar/small/jenny.jpg')
            .content
              .summary
                .date 2 days ago
                a.J_HistoryReset.hint--bottom-left.hint--rounded(aria-label='Reset to this version' href='javascript:;')
                  i.icon.repeat
                a.J_HistoryCompare.hint--bottom-left.hint--rounded(aria-label='Compare with current version' href='javascript:;')
                  i.icon.file.code.outline
        .ui.feed.clearfix
          .event
            .label
              img(src='http://semantic-ui.com/images/avatar/small/laura.jpg')
            .content
              .summary
                .date 2 years age
                a.J_HistoryReset.hint--bottom-left.hint--rounded(aria-label='Reset to this version' href='javascript:;')
                  i.icon.repeat
                a.J_HistoryCompare.hint--bottom-left.hint--rounded(aria-label='Compare with current version' href='javascript:;')
                  i.icon.file.code.outline
    // history end

block footer
  script(src='/script/index.js')
