extends layouts/_layout

block header
  link(rel='stylesheet' href='/libs/hint.css/hint.css')
  link(rel='stylesheet' href='/css/load.css')
  link(rel='stylesheet' href='/css/nfm.css')

block body
  // 载入动画 start
  .nfm-load
    .spinner
      .double-bounce1
      .double-bounce2
  // 载入动画 end
  .nfm-container-index
    // header start
    include layouts/_header
    // header end
    // sidebar start
    .nfm-sidebar
      .sidebar-main
        // bookmark start
        .bookmark-main
          .bookmark-header
            i.icon.remove.bookmark 
            | bookmark
            i.icon.angle.up
          ul
            li
              a.bookmark-text(href='javascript:;') home/store/html
              a.bookmark-icon.hint--bottom-left.hint--info.hint--rounded(aria-label='Remove bookmark' href='javascript:;')
                i.icon.remove
            li
              a.bookmark-text(href='javascript:;') home/store/html/patha/pathb/pathc/images
              a.bookmark-icon.hint--bottom-left.hint--info.hint--rounded(aria-label='Remove bookmark' href='javascript:;')
                i.icon.remove
            li
              a.bookmark-text(href='javascript:;') home/store/js
              a.bookmark-icon.hint--bottom-left.hint--info.hint--rounded(aria-label='Remove bookmark' href='javascript:;')
                i.icon.remove
        ul
          li
            a(href='javascript:;')
              i.mini.caret.down.icon
              i.i-color.folder.open.icon
              i.spinner.loading.icon
              |  css
            ul
              li
                a(href='javascript:;')
                  i.mini.caret.down.icon
                  i.i-color.folder.open.icon
                  i.spinner.loading.icon
                  |  index
                ul
                  li
                    a(href='javascript:;')
                      i.mini.icon
                      i.nfm-icon.i-css.icon
                      |  index.css
                  li
                    a(href='javascript:;')
                      i.mini.icon
                      i.nfm-icon.i-postcss.icon
                      |  modules.pcss
              li
                a(href='javascript:;')
                  i.mini.caret.down.icon
                  i.i-color.folder.open.icon
                  i.spinner.loading.icon
                  |  layout
                ul
                  li
                    a(href='javascript:;')
                      i.mini.icon
                      i.nfm-icon.i-css.icon
                      |  layout.css
          li
            a(href='javascript:;')
              i.mini.caret.down.icon
              i.i-color.folder.open.icon
              i.spinner.loading.icon
              |  images
            ul
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-image.icon
                  |  banner_01.jpg
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-image.icon
                  |  banner_02.jpg
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-image.icon
                  |  banner_03.jpg
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-image.icon
                  |  banner_04.jpg
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-image.icon
                  |  banner_05.jpg
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-image.icon
                  |  sprites.png
          li
            a(href='javascript:;')
              i.mini.caret.down.icon
              i.i-color.folder.open.icon
              i.spinner.loading.icon
              |  js
            ul
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-js.icon
                  |  index.js
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-js.icon
                  |  detail.js
              li
                a(href='javascript:;')
                  i.mini.icon
                  i.nfm-icon.i-js.icon
                  |  layout.js
          li
            a(href='javascript:;')
              i.mini.caret.right.icon
              i.i-color.folder.icon
              i.spinner.loading.icon
              |  Node4
    // sidebar end
    // workspace start
    .nfm-workspace
      // operate start
      .workspace-operate
        // search start
        // 备注：搜索时添加class loading，disabled
        .ui.right.action.left.icon.input
          i.icon.search
          input(type='text' placeholder='Search...')
          .J_SearchBtn.ui.basic.floating.dropdown.button
            .text This Page
            i.dropdown.icon
            .menu
              .item This Page
              .item All Files
        // search end
        .ui.small.buttons
          button.J_NewFolder.ui.primary.basic.button.hint--bottom.hint--rounded(aria-label='Create a new folder')
            i.wizard.icon
            | New
          button.J_Upload.ui.primary.basic.button.hint--bottom.hint--rounded(aria-label='Upload files/zips')
            i.upload.icon
            | Upload
      // operate end
      .workspace-breadcrumb
        i.home.icon
        .ui.small.breadcrumb
          a.section Home
          .divider  / 
          a.section Store
          .divider  / 
          .active.section
            | T-Shirt
            a.J_Bookmark.hint--bottom.hint--rounded(href='javascript:;' aria-label='Add to bookmark')
              i.icon.empty.star.yellow
      // nfm table start
      .workspace-table
        table.ui.fixed.table.grey
          thead
            tr
              th(style='width:40px;')
              th Name
              th(style='width:250px;') Title
              th(style='width:100px;') Size
              th(style='width:100px;') Author
              th(style='width:150px;')
                //- i.icon.down.caret
                //- i.icon.caret.up
                i.icon.sort.grey
                | Date last modified
              th(style='width:100px;')
          tbody
            tr
              td
                i.i-color.folder.icon
              td dist
              td grunt逻辑调整
              td -
              td LionHL
              td 22 days ago
              td
                i.icon.circular.cloud.upload.small.disabled
                i.icon.circular.protect.small.disabled
            tr
              td
                i.i-color.folder.icon
              td src
              td 使用bower安装jquery
              td -
              td LionHL
              td 22 days ago
              td
                i.icon.circular.cloud.upload.small.green
                i.icon.circular.protect.small.green
            tr
              td
                i.i-color.folder.icon
              td test
              td 更新1.2.0
              td -
              td LionHL
              td 2 years ago
              td
                i.icon.circular.cloud.upload.small.disabled
                i.icon.circular.protect.small.disabled
            tr
              td
                i.icon.nfm-icon.i-bower
              td .bowerrc
              td 使用bower安装jquery
              td 34B
              td Keenwon
              td 54 minutes age
              td
                i.icon.circular.cloud.upload.small.green
                i.icon.circular.protect.small.disabled
            tr
              td
                i.icon.nfm-icon.i-git
              td .gitignore
              td 使用bower安装jquery
              td 69B
              td Keenwon
              td 21 days ago
              td
                i.icon.circular.cloud.upload.small.disabled
                i.icon.circular.protect.small.green
            tr
              td
                i.icon.nfm-icon.i-jshintrc
              td .jshintrc
              td 提交代码
              td 688B
              td LionHL
              td 3 years ago
              td
                i.icon.circular.cloud.upload.small.green
                i.icon.circular.protect.small.disabled
            tr
              td
                i.icon.nfm-icon.i-travis
              td .travis.yml
              td travis执行测试前先使用bower安装
              td 149B
              td Keenwon
              td 10 months ago
              td
                i.icon.circular.cloud.upload.small.disabled
                i.icon.circular.protect.small.disabled
            tr
              td
                i.icon.nfm-icon.i-js
              td
                | jq
                b Pag
                | inator.js
              td 更新1.2.0
              td 9.1K
              td Keenwon
              td 10 months ago
              td
                i.icon.circular.cloud.upload.small.disabled
                i.icon.circular.protect.small.disabled
            tr
              td
                i.icon.nfm-icon.i-html
              td index.html
              td 提交代码
              td 1.1K
              td HeXiaoPang
              td 1 months ago
              td
                i.icon.circular.cloud.upload.small.disabled
                i.icon.circular.protect.small.disabled
            tr
              td
                i.icon.nfm-icon.i-css
              td jqPaginator.css
              td 更新1.2.0
              td 90.1K
              td HeXiaoPang
              td 19 months ago
              td
                i.icon.circular.cloud.upload.small.disabled
                i.icon.circular.protect.small.disabled
      // nfm-table end
    // workspace end
    // history start
    .nfm-history
      h4.history-title.clearfix
        span.left 文件历史
        a.right(href='javascript:;')
          i.remove.icon.history-close
      h4.ui.horizontal.divider
        i.history.icon
      .history-list
        .ui.feed.clearfix
          .event
            .label
              img(src='http://semantic-ui.com/images/avatar/small/elliot.jpg')
            .content
              .summary
                .date 4 hours ago
                a.J_HistoryReset.hint--bottom-left.hint--rounded(aria-label='Reset to this version' href='javascript:;')
                  i.icon.repeat
                a.J_HistoryCompare.hint--bottom-left.hint--rounded(aria-label='Compare with current version' href='javascript:;')
                  i.icon.file.code.outline
        .ui.feed.clearfix
          .event
            .label
              img(src='http://semantic-ui.com/images/avatar/small/jenny.jpg')
            .content
              .summary
                .date 2 days ago
                a.J_HistoryReset.hint--bottom-left.hint--rounded(aria-label='Reset to this version' href='javascript:;')
                  i.icon.repeat
                a.J_HistoryCompare.hint--bottom-left.hint--rounded(aria-label='Compare with current version' href='javascript:;')
                  i.icon.file.code.outline
        .ui.feed.clearfix
          .event
            .label
              img(src='http://semantic-ui.com/images/avatar/small/laura.jpg')
            .content
              .summary
                .date 2 years age
                a.J_HistoryReset.hint--bottom-left.hint--rounded(aria-label='Reset to this version' href='javascript:;')
                  i.icon.repeat
                a.J_HistoryCompare.hint--bottom-left.hint--rounded(aria-label='Compare with current version' href='javascript:;')
                  i.icon.file.code.outline
    // history end

    // menu start
    .J_Menu.nfm-menu.ui.vertical.menu.mini
      a.item(href='javascript:;')
        i.icon.move
        | Move
      a.item(href='javascript:;')
        i.icon.cloud.upload
        | Publish 
      a.item.J_History(href='javascript:;')
        i.icon.history
        | History
      a.item(href='javascript:;')
        i.icon.trash.red
        | Delete
    // menu end

block footer
  script(src='/script/index.js')
