/**
 * 整体容器
 */

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow-x: scroll;
}

.nfm-container-index {
  min-width: 1200px;
  height: 100%;
  overflow: hidden;
  position: relative;
}