/* 头部样式 相对semantic做样式调整 */

.nfm.header {
  @mixin positions relative;
  padding: 9px 10px;
  background: #191919;
  border-bottom: 2px solid #444;
  z-index: 9;
}

.nfm.header .nfm.menu {
  margin: 0;
  border: 0;
  border-radius: 0;
  min-height: auto;
  .item {
    padding: 0 10px !important;
    line-height: 30px;
    color: rgba(255, 255, 255, .7);
  }
  .nfm.logo {
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, .9);
  }
  a.item:hover {
    color: rgba(255, 255, 255, .9) !important;
  }
  .item i.icon {
    height: 30px;
  }
}
