/**
 * 头部
 * 相对semantic做样式调整
 */

.nfm-header {
  position: relative;
  padding: 10px;
  z-index: $headerLayer;
}

.nfm-header .menu {
  margin: 0;
  border: 0;
  border-radius: 0;
  min-height: auto;

  .logo {
    font-size: 18px;
    font-weight: 700;
  }

  .item {
    padding: 0 10px !important;
    line-height: 30px;
  }

  .item i.icon {
    height: 30px;
  }
}
