/**
 * 头部
 * 相对semantic做样式调整
 */

.nfm-header {
  position: relative;
  padding: 10px;
  background-color: $headerBgColor;
  border-bottom: $headerBorderBottom;
  z-index: $headerLayer;
}

.nfm-header .nfm-nav {
  margin: 0;
  border: 0;
  border-radius: 0;
  min-height: auto;

  .logo {
    font-size: 18px;
    font-weight: 700;
    color: $headerLogoColor;
  }

  .item {
    padding: 0 10px !important;
    line-height: 30px;
    color: $headerNavItemColor;

    &:hover {
      color: $headerNavItemColor_hover;

      i.icon {
        color: $headerNavItemHover_aColor;
      }
    }

    img {
      width: 25px;
    }

    i.icon {
      height: 30px;
      margin-left: 0 !important;
    }
  }
}

.nfm-header .nfm-headermenu {
  position: absolute;
  z-index: $headerMenuLayer;
  display: none !important;
  margin: 0 !important;
  top: 55px;
  right: 24px;

  span.item {
    color: $headerMenuSpanColor;
  }
}