/**
 * 文件历史
 */

.nfm-history {
  position: absolute 51px 0 * *;
  width: 300px;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  background: #fff;
  border-left: 1px solid #ccc;

  .history-title {
    margin: 20px;

    a {
      float: right;
    }
  }

  .history-list {
    margin: 20px;

    i {
      float: right;
      margin: 0 5px;
      position: relative;
      top: 2px;
    }
  }
}