/* nfm icon modules start*/
.nfm-icon {
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

/* nfm-icon background-image添加 */
.nfm-icon.i-actionscript {
    @mixin img-bg ../images/file_type_actionscript@2x.png;
}

.nfm-icon.i-angular {
    @mixin img-bg ../images/file_type_angular@2x.png;
}

.nfm-icon.i-ansible {
    @mixin img-bg ../images/file_type_ansible@2x.png;
}

.nfm-icon.i-apache {
    @mixin img-bg ../images/file_type_apache@2x.png;
}

.nfm-icon.i-apib {
    @mixin img-bg ../images/file_type_apib@2x.png;
}

.nfm-icon.i-applescript {
    @mixin img-bg ../images/file_type_applescript@2x.png;
}

.nfm-icon.i-appveyor {
    @mixin img-bg ../images/file_type_appveyor@2x.png;
}

.nfm-icon.i-asp {
    @mixin img-bg ../images/file_type_asp@2x.png;
}

.nfm-icon.i-aspx {
    @mixin img-bg ../images/file_type_aspx@2x.png;
}

.nfm-icon.i-assembly {
    @mixin img-bg ../images/file_type_assembly@2x.png;
}

.nfm-icon.i-autohotkey {
    @mixin img-bg ../images/file_type_autohotkey@2x.png;
}

.nfm-icon.i-babel {
    @mixin img-bg ../images/file_type_babel@2x.png;
}

.nfm-icon.i-binary {
    @mixin img-bg ../images/file_type_binary@2x.png;
}

.nfm-icon.i-blade {
    @mixin img-bg ../images/file_type_blade@2x.png;
}

.nfm-icon.i-bower {
    @mixin img-bg ../images/file_type_bower@2x.png;
}

.nfm-icon.i-c {
    @mixin img-bg ../images/file_type_c@2x.png;
}

.nfm-icon.i-cjj {
    @mixin img-bg ../images/file_type_c++@2x.png;
}

.nfm-icon.i-cake {
    @mixin img-bg ../images/file_type_cake@2x.png;
}

.nfm-icon.i-cfc {
    @mixin img-bg ../images/file_type_cfc@2x.png;
}

.nfm-icon.i-cfm {
    @mixin img-bg ../images/file_type_cfm@2x.png;
}

.nfm-icon.i-cheader {
    @mixin img-bg ../images/file_type_cheader@2x.png;
}

.nfm-icon.i-clojure {
    @mixin img-bg ../images/file_type_clojure@2x.png;
}

.nfm-icon.i-cobol {
    @mixin img-bg ../images/file_type_cobol@2x.png;
}

.nfm-icon.i-codeclimate {
    @mixin img-bg ../images/file_type_codeclimate@2x.png;
}

.nfm-icon.i-coffeescript {
    @mixin img-bg ../images/file_type_coffeescript@2x.png;
}

.nfm-icon.i-compass {
    @mixin img-bg ../images/file_type_compass@2x.png;
}

.nfm-icon.i-composer {
    @mixin img-bg ../images/file_type_composer@2x.png;
}

.nfm-icon.i-config {
    @mixin img-bg ../images/file_type_config@2x.png;
}

.nfm-icon.i-cs {
    @mixin img-bg ../images/file_type_cs@2x.png;
}

.nfm-icon.i-cshtml {
    @mixin img-bg ../images/file_type_cshtml@2x.png;
}

.nfm-icon.i-csproj {
    @mixin img-bg ../images/file_type_csproj@2x.png;
}

.nfm-icon.i-css {
    @mixin img-bg ../images/file_type_css@2x.png;
}

.nfm-icon.i-csslint {
    @mixin img-bg ../images/file_type_csslint@2x.png;
}

.nfm-icon.i-cucumber {
    @mixin img-bg ../images/file_type_cucumber@2x.png;
}

.nfm-icon.i-dartlang {
    @mixin img-bg ../images/file_type_dartlang@2x.png;
}

.nfm-icon.i-default {
    @mixin img-bg ../images/file_type_default@2x.png;
}

.nfm-icon.i-dlang {
    @mixin img-bg ../images/file_type_dlang@2x.png;
}

.nfm-icon.i-docker {
    @mixin img-bg ../images/file_type_docker@2x.png;
}

.nfm-icon.i-editorconfig {
    @mixin img-bg ../images/file_type_editorconfig@2x.png;
}

.nfm-icon.i-ejs {
    @mixin img-bg ../images/file_type_ejs@2x.png;
}

.nfm-icon.i-elixir {
    @mixin img-bg ../images/file_type_elixir@2x.png;
}

.nfm-icon.i-elm {
    @mixin img-bg ../images/file_type_elm@2x.png;
}

.nfm-icon.i-erb {
    @mixin img-bg ../images/file_type_erb@2x.png;
}

.nfm-icon.i-erlang {
    @mixin img-bg ../images/file_type_erlang@2x.png;
}

.nfm-icon.i-eslint {
    @mixin img-bg ../images/file_type_eslint@2x.png;
}

.nfm-icon.i-excel {
    @mixin img-bg ../images/file_type_excel@2x.png;
}

.nfm-icon.i-favicon {
    @mixin img-bg ../images/file_type_favicon@2x.png;
}

.nfm-icon.i-flash {
    @mixin img-bg ../images/file_type_flash@2x.png;
}

.nfm-icon.i-font {
    @mixin img-bg ../images/file_type_font@2x.png;
}

.nfm-icon.i-fsharp {
    @mixin img-bg ../images/file_type_fsharp@2x.png;
}

.nfm-icon.i-git {
    @mixin img-bg ../images/file_type_git@2x.png;
}

.nfm-icon.i-go {
    @mixin img-bg ../images/file_type_go@2x.png;
}

.nfm-icon.i-gradle {
    @mixin img-bg ../images/file_type_gradle@2x.png;
}

.nfm-icon.i-graphviz {
    @mixin img-bg ../images/file_type_graphviz@2x.png;
}

.nfm-icon.i-groovy {
    @mixin img-bg ../images/file_type_groovy@2x.png;
}

.nfm-icon.i-groovy2 {
    @mixin img-bg ../images/file_type_groovy2@2x.png;
}

.nfm-icon.i-gruntfile {
    @mixin img-bg ../images/file_type_gruntfile@2x.png;
}

.nfm-icon.i-gulpfile {
    @mixin img-bg ../images/file_type_gulpfile@2x.png;
}

.nfm-icon.i-haml {
    @mixin img-bg ../images/file_type_haml@2x.png;
}

.nfm-icon.i-handlebars {
    @mixin img-bg ../images/file_type_handlebars@2x.png;
}

.nfm-icon.i-handlebars2 {
    @mixin img-bg ../images/file_type_handlebars2@2x.png;
}

.nfm-icon.i-haskell {
    @mixin img-bg ../images/file_type_haskell@2x.png;
}

.nfm-icon.i-haxe {
    @mixin img-bg ../images/file_type_haxe@2x.png;
}

.nfm-icon.i-haxecheckstyle {
    @mixin img-bg ../images/file_type_haxecheckstyle@2x.png;
}

.nfm-icon.i-haxedevelop {
    @mixin img-bg ../images/file_type_haxedevelop@2x.png;
}

.nfm-icon.i-html {
    @mixin img-bg ../images/file_type_html@2x.png;
}

.nfm-icon.i-image {
    @mixin img-bg ../images/file_type_image@2x.png;
}

.nfm-icon.i-ionic {
    @mixin img-bg ../images/file_type_ionic@2x.png;
}

.nfm-icon.i-jade {
    @mixin img-bg ../images/file_type_jade@2x.png;
}

.nfm-icon.i-java {
    @mixin img-bg ../images/file_type_java@2x.png;
}

.nfm-icon.i-js {
    @mixin img-bg ../images/file_type_js@2x.png;
}

.nfm-icon.i-jshintrc {
    @mixin img-bg ../images/file_type_jshintrc@2x.png;
}

.nfm-icon.i-jsmap {
    @mixin img-bg ../images/file_type_jsmap@2x.png;
}

.nfm-icon.i-jsmap2 {
    @mixin img-bg ../images/file_type_jsmap2@2x.png;
}

.nfm-icon.i-jsp {
    @mixin img-bg ../images/file_type_jsp@2x.png;
}

.nfm-icon.i-julia {
    @mixin img-bg ../images/file_type_julia@2x.png;
}

.nfm-icon.i-less {
    @mixin img-bg ../images/file_type_less@2x.png;
}

.nfm-icon.i-license {
    @mixin img-bg ../images/file_type_license@2x.png;
}

.nfm-icon.i-lime {
    @mixin img-bg ../images/file_type_lime@2x.png;
}

.nfm-icon.i-lisp {
    @mixin img-bg ../images/file_type_lisp@2x.png;
}

.nfm-icon.i-log {
    @mixin img-bg ../images/file_type_log@2x.png;
}

.nfm-icon.i-lsl {
    @mixin img-bg ../images/file_type_lsl@2x.png;
}

.nfm-icon.i-lua {
    @mixin img-bg ../images/file_type_lua@2x.png;
}

.nfm-icon.i-m {
    @mixin img-bg ../images/file_type_m@2x.png;
}

.nfm-icon.i-markdown {
    @mixin img-bg ../images/file_type_markdown@2x.png;
}

.nfm-icon.i-marko {
    @mixin img-bg ../images/file_type_marko@2x.png;
}

.nfm-icon.i-markojs {
    @mixin img-bg ../images/file_type_markojs@2x.png;
}

.nfm-icon.i-markup {
    @mixin img-bg ../images/file_type_markup@2x.png;
}

.nfm-icon.i-matlab {
    @mixin img-bg ../images/file_type_matlab@2x.png;
}

.nfm-icon.i-mustache {
    @mixin img-bg ../images/file_type_mustache@2x.png;
}

.nfm-icon.i-mysql {
    @mixin img-bg ../images/file_type_mysql@2x.png;
}

.nfm-icon.i-nim {
    @mixin img-bg ../images/file_type_nim@2x.png;
}

.nfm-icon.i-node {
    @mixin img-bg ../images/file_type_node@2x.png;
}

.nfm-icon.i-node2 {
    @mixin img-bg ../images/file_type_node2@2x.png;
}

.nfm-icon.i-npm {
    @mixin img-bg ../images/file_type_npm@2x.png;
}

.nfm-icon.i-nsi {
    @mixin img-bg ../images/file_type_nsi@2x.png;
}

.nfm-icon.i-nunjucks {
    @mixin img-bg ../images/file_type_nunjucks@2x.png;
}

.nfm-icon.i-ocaml {
    @mixin img-bg ../images/file_type_ocaml@2x.png;
}

.nfm-icon.i-paket {
    @mixin img-bg ../images/file_type_paket@2x.png;
}

.nfm-icon.i-patch {
    @mixin img-bg ../images/file_type_patch@2x.png;
}

.nfm-icon.i-perl {
    @mixin img-bg ../images/file_type_perl@2x.png;
}

.nfm-icon.i-photoshop {
    @mixin img-bg ../images/file_type_photoshop@2x.png;
}

.nfm-icon.i-php {
    @mixin img-bg ../images/file_type_php@2x.png;
}

.nfm-icon.i-phpunit {
    @mixin img-bg ../images/file_type_phpunit@2x.png;
}

.nfm-icon.i-poedit {
    @mixin img-bg ../images/file_type_poedit@2x.png;
}

.nfm-icon.i-postcss {
    @mixin img-bg ../images/file_type_postcss@2x.png;
}

.nfm-icon.i-powershell {
    @mixin img-bg ../images/file_type_powershell@2x.png;
}

.nfm-icon.i-procfile {
    @mixin img-bg ../images/file_type_procfile@2x.png;
}

.nfm-icon.i-puppet {
    @mixin img-bg ../images/file_type_puppet@2x.png;
}

.nfm-icon.i-python {
    @mixin img-bg ../images/file_type_python@2x.png;
}

.nfm-icon.i-R {
    @mixin img-bg ../images/file_type_R@2x.png;
}

.nfm-icon.i-rails {
    @mixin img-bg ../images/file_type_rails@2x.png;
}

.nfm-icon.i-raml {
    @mixin img-bg ../images/file_type_raml@2x.png;
}

.nfm-icon.i-reactjs {
    @mixin img-bg ../images/file_type_reactjs@2x.png;
}

.nfm-icon.i-reacttemplate {
    @mixin img-bg ../images/file_type_reacttemplate@2x.png;
}

.nfm-icon.i-reactts {
    @mixin img-bg ../images/file_type_reactts@2x.png;
}

.nfm-icon.i-reactts {
    @mixin img-bg ../images/file_type_reactts2@2x.png;
}

.nfm-icon.i-riot {
    @mixin img-bg ../images/file_type_riot@2x.png;
}

.nfm-icon.i-robotframework {
    @mixin img-bg ../images/file_type_robotframework@2x.png;
}

.nfm-icon.i-ruby {
    @mixin img-bg ../images/file_type_ruby@2x.png;
}

.nfm-icon.i-rust {
    @mixin img-bg ../images/file_type_rust@2x.png;
}

.nfm-icon.i-sass {
    @mixin img-bg ../images/file_type_sass@2x.png;
}

.nfm-icon.i-scala {
    @mixin img-bg ../images/file_type_scala@2x.png;
}

.nfm-icon.i-scss {
    @mixin img-bg ../images/file_type_scss@2x.png;
}

.nfm-icon.i-settings {
    @mixin img-bg ../images/file_type_settings@2x.png;
}

.nfm-icon.i-shell {
    @mixin img-bg ../images/file_type_shell@2x.png;
}

.nfm-icon.i-slim {
    @mixin img-bg ../images/file_type_slim@2x.png;
}

.nfm-icon.i-sln {
    @mixin img-bg ../images/file_type_sln@2x.png;
}

.nfm-icon.i-smarty {
    @mixin img-bg ../images/file_type_smarty@2x.png;
}

.nfm-icon.i-source {
    @mixin img-bg ../images/file_type_source@2x.png;
}

.nfm-icon.i-sql {
    @mixin img-bg ../images/file_type_sql@2x.png;
}

.nfm-icon.i-sqlite {
    @mixin img-bg ../images/file_type_sqlite@2x.png;
}

.nfm-icon.i-stylelint {
    @mixin img-bg ../images/file_type_stylelint@2x.png;
}

.nfm-icon.i-stylus {
    @mixin img-bg ../images/file_type_stylus@2x.png;
}

.nfm-icon.i-svg {
    @mixin img-bg ../images/file_type_svg@2x.png;
}

.nfm-icon.i-swift {
    @mixin img-bg ../images/file_type_swift@2x.png;
}

.nfm-icon.i-tcl {
    @mixin img-bg ../images/file_type_tcl@2x.png;
}

.nfm-icon.i-terraform {
    @mixin img-bg ../images/file_type_terraform@2x.png;
}

.nfm-icon.i-tex {
    @mixin img-bg ../images/file_type_tex@2x.png;
}

.nfm-icon.i-text {
    @mixin img-bg ../images/file_type_text@2x.png;
}

.nfm-icon.i-textile {
    @mixin img-bg ../images/file_type_textile@2x.png;
}

.nfm-icon.i-todo {
    @mixin img-bg ../images/file_type_todo@2x.png;
}

.nfm-icon.i-travis {
    @mixin img-bg ../images/file_type_travis@2x.png;
}

.nfm-icon.i-twig {
    @mixin img-bg ../images/file_type_twig@2x.png;
}

.nfm-icon.i-typescript {
    @mixin img-bg ../images/file_type_typescript@2x.png;
}

.nfm-icon.i-typescriptdef {
    @mixin img-bg ../images/file_type_typescriptdef@2x.png;
}

.nfm-icon.i-vagrant {
    @mixin img-bg ../images/file_type_vagrant@2x.png;
}

.nfm-icon.i-vbhtml {
    @mixin img-bg ../images/file_type_vbhtml@2x.png;
}

.nfm-icon.i-vbproj {
    @mixin img-bg ../images/file_type_vbproj@2x.png;
}

.nfm-icon.i-volt {
    @mixin img-bg ../images/file_type_volt@2x.png;
}

.nfm-icon.i-vscode {
    @mixin img-bg ../images/file_type_vscode@2x.png;
}

.nfm-icon.i-vue {
    @mixin img-bg ../images/file_type_vue@2x.png;
}

.nfm-icon.i-webpack {
    @mixin img-bg ../images/file_type_webpack@2x.png;
}

.nfm-icon.i-xml {
    @mixin img-bg ../images/file_type_xml@2x.png;
}

.nfm-icon.i-yaml {
    @mixin img-bg ../images/file_type_yaml@2x.png;
}

.nfm-icon.i-zip {
    @mixin img-bg ../images/file_type_zip@2x.png;
}

/* nfm icon modules end*/