/**
 * message
 */

.nfm-message {
  width: 350px;
  position: fixed !important;
  bottom: 15px;
  right: -400px;
  z-index: 10000;
  transition: right 500ms ease-in-out;

  &.in {
    animation: in .5s ease-out;
    animation-fill-mode: forwards;
  }

  &.out {
    animation: out .5s ease-out;
    animation-fill-mode: forwards;
  }

  @at-root {
    @keyframes in {
      0% { right: -400px; }
      100% { right: 35px; }
    }

    @keyframes out {
      0% { right: 35px; }
      100% { right: -400px; }
    }
  }

  &.close {
    right: -400px;
  }
}