/* 操作块operate样式 */

.nfm.operate {
  margin-bottom: 10px;
  @mixin clearfix;
  .nfm.buttons {
    border: 1px solid #fff;
    @mixin nfm-float right;
  }
  .nfm.buttons .button {
    color: #fff !important;
  }
  .nfm.buttons .button:hover {
    color: #000 !important;
    background-color: #fff !important;
  }
  .nfm.buttons .button:active,
  .nfm.buttons .button:focus {
    background: #60b044 !important;
    color: #fff !important;
  }
  .nfm.buttons .detele.button:hover,
  .nfm.buttons .detele.button:focus,
  .nfm.buttons .detele.button:active {
    color: #fff !important;
    background: #DB2828 !important;
  }
}

