/* 操作块operate样式 */

.nfm.operate {
  margin-bottom: 10px;
  @mixin clearfix;
  .nfm.buttons {
    border-radius: 4px;
    float: right;
  }
  .nfm.buttons .button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .nfm.buttons .button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

