/**
 * 边栏
 */

.nfm-sidebar {
  position: absolute 51px * * 0;
  padding: 10px 0;
  width: 250px;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.sidebar-main {
  height: 100%;
  overflow: scroll;

  ul {
    padding-left: 15px;
    margin: 0;
    list-style: none;
  }

  ul > li {
    list-style: none;
  }

  ul li > a {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    white-space: nowrap;
    vertical-align: middle;
  }

  ul li > a i:first-child {
    margin-right: 0;
    width: 10px;
  }

  ul:first-child {
    padding-left: 5px;
  }

  i.loading {
    display: none;
  }
}