/**
 * 边栏
 */

.nfm-sidebar {
  position: absolute 50px * 0 0;
  padding: 10px 0;
  width: 250px;
  background-color: $sidebarBgColor;
  overflow: hidden;
  z-index: $sidebarLayer;
}

.sidebar-main {
  height: 100%;
  overflow: scroll;

  ul {
    padding-left: 15px;
    margin: 0;
    list-style: none;
  }

  ul > li {
    list-style: none;
  }

  ul li > a {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    color: $liAColor;
    white-space: nowrap;
    vertical-align: middle;

    &:hover {
      color: $liAColor_hover;
    }
  }

  ul li > a i:first-child {
    margin-right: 0;
    width: 10px;
  }

  ul:first-child {
    padding-left: 5px;
  }

  i.loading {
    display: none;
  }
}

/* bookmark */
.bookmark-main {
  padding: 0 15px;
  margin-bottom: 5px;
  color: $bookmarkColor;
  border-bottom: $bookmarkBorderBottom;

  .bookmark-header {
    @mixin clearfix;

    i.icon.bookmark {
      color: $iconBookmarkColor;
    }

    i.icon.angle {
      float: right;
      cursor: pointer;
    }
  }

  &>ul {
    padding: 10px 0 10px 2px;
  }

  li {
    position: relative;
    padding-right: 20px;

    .bookmark-text {
      font-size: 12px;
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .bookmark-icon {
      display: block;
      position: absolute 0 0 * *;
      cursor: pointer;
    }
  }
}


