/**
 * 边栏
 */

.nfm-sidebar {
  position: absolute 50px * 0 0;
  padding: 10px 0;
  width: 250px;
  background-color: $sidebarBgColor;
  overflow: hidden;
  z-index: $sidebarLayer;
}

.sidebar-main {
  height: 100%;
  display: flex;
  flex-direction: column;

  .sidebar-menu {
    overflow-y: scroll;
  }

  ul {
    padding-left: 15px;
    margin: 0;
    list-style: none;
  }

  ul > li {
    list-style: none;
  }

  ul li > a {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    color: $liAColor;
    white-space: nowrap;
    vertical-align: middle;

    &:hover {
      color: $liAColor_hover;
    }
  }

  ul li > a i:first-child {
    margin-right: 0;
    width: 10px;
  }

  ul:first-child {
    padding-left: 5px;
  }

  i.loading {
    display: none;
  }
}

/* bookmark */
.nfm-bookmark {
  padding: 0 15px;
  margin-bottom: 10px;
  color: $bookmarkColor;
  border-bottom: $bookmarkBorderBottom;

  .bookmark-header {
    position: relative;

    i.icon.bookmark {
      color: $iconBookmarkColor;
    }

    i.icon.angle {
      position: absolute 0 0 * *;
      margin-right: 0;
      cursor: pointer;
    }
  }

  .bookmark-main {
    padding: 5px 0;
    margin: 5px 0 10px;
    max-height: 115px;
    overflow-y: scroll;
  }

  ul {
    padding: 0 0 0 2px;
  }

  li {
    position: relative;
    padding-right: 30px;
    overflow: hidden;

    .bookmark-text {
      font-size: 12px;
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .bookmark-text i {
      margin-right: 5px !important;
    }

    .bookmark-icon {
      display: block;
      position: absolute 0 4px * *;
      cursor: pointer;
    }
  }
}
