/* 自定义table样式 */
.table-wrap {
  position: absolute 68px 0 20px 0;
  padding: 0 10px;
}

.nfm-table {
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
  @mixin positions relative;
  &> .nfm.table:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &> .nfm.table:first-child th {
    color: rgba(255, 255, 255, .75);
  }
}

.nfm.table {
  margin: 0;
  border: none;
  .ui.checkbox {
    vertical-align: text-top;
  }
  .ui.checkbox label {
    padding-left: 0;
    
  }
  .ui.checkbox label:before {
    border: none;
  }
}

/* table scroll */
.scroll-table {
  position: absolute 46px 0 0 0;
  overflow: scroll;
  &> .nfm.table:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .nfm.table tr:nth-child(even) {
    background-color: rgba(0, 0, 50, .02);
  }
  .nfm.table tr:hover {
    background-color: rgba(0, 0, 0, .2) !important;
    td {
      color: rgba(255, 255, 255, .9);
    }
  }
  .nfm.table tr:active {
    background-color: rgba(0, 0, 0, .4) !important;
    td {
      color: rgba(255, 255, 255, .9);
    }
  }
  .nfm.table td {
    font-size: 13px;
    color: rgba(255, 255, 255, .75);
  }
}