/* 自定义table样式 */

.nfm-table {
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
  @mixin positions relative;
}

.nfm.table {
  margin: 0;
  tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 50, .02);
  }
  tbody tr:hover, tbody tr:active {
    background-color: #fffaf3 !important;
    td {
      color: #573a08;
    }
  }
  td {
    font-size: 13px;
  }
  .ui.checkbox {
    vertical-align: text-top;
  }
  .ui.checkbox label {
    padding-left: 0;
  }
}