/**
 * 工作区
 */

.nfm-workspace {
  position: absolute 50px 0 0 0;
  margin-left: 250px;
  padding: 20px 10px 10px;
  background-color: $workspaceBgColor;
  overflow: scroll;
  z-index: $workspaceLayer;

  .nfm.buttons .button {
    &:hover {
      color: $btnColor_hover;
      background-color: $btnBgColor_hover;
    }

    &:active {
      color: $btnColor_active;
      background-color: $btnBgColor_active;
    }

    &:focus {
      color: $btnColor_focus;
      background-color: $btnBgColor_focus;
    }
  }

  .nfm.buttons .detele.button {
    &:hover {
      color: $deteleBtnColor_hover;
      background-color: $deteleBtnBgColor_hover;
    }

    &:focus {
      color: $deteleBtnColor_focus;
      background-color: $deteleBtnBgColor_focus;
    }

    &:active {
      color: $deteleBtnColor_active;
      background-color: $deteleBtnBgColor_active;
    }
  }
}

/* 操作按钮 */
.workspace-operate {
  @mixin clearfix;
  margin-bottom: 15px;

  .buttons {
    border-radius: 4px;
    float: right;
  }

  .buttons .button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .buttons .button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

/* 面包屑导航 */
.workspace-breadcrumb {
  @mixin clearfix;
  margin-bottom: 15px;

  .ui.breadcrumb {
    vertical-align: inherit;

    i.star {
      margin-left: 5px;
    }
  }
}

/* 表格 */
.workspace-table {
  border-radius: 5px;
  overflow: hidden;
  z-index: $workspaceTableLayer;
  position: relative;
}

.workspace-table .table {
  margin: 0;

  thead i {
    display: inline;
  }

  th, td {
    overflow: visible !important;
  }

  td {
    font-size: 13px;

    b {
      color: $bColor;
    }
  }

  .ui.checkbox {
    vertical-align: text-top;
  }

  .ui.checkbox label {
    padding-left: 0;
  }

  .ui.input input {
    padding: 5px 8px;
  }
}

.nfm-table, .workspace-table {
  tbody tr:nth-child(even) {
    background-color: $trEvenBgColor;
  }

  tbody tr {
    &:hover {
      box-shadow: $trBoxShadow_hover;
      background-color: $trBgColor_hover;

      td {
        color: $trHover_tdColor;
      }
    }

    &:active {
      box-shadow: $trBoxShadow_active;
      background-color: $trBgColor_active;

      td {
        color: $trActive_tdColor;
      }
    }
  }

  a {
    color: $tableAColor;
  }

  .ui.input input:focus {
    border-color: $inputBorderColor_focus;
  }
}
/* Menu */
.nfm-contextmenu {
  position: absolute;
  z-index: $workspaceMenuLayer;
  display: none;
  margin: 0 !important;
}