/* 最外层结构样式 */
html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow-x: scroll;
}

.nfm.wrap {
  min-width: 1200px;
  height: 100%;
  overflow: hidden;
  @mixin positions relative;
}