body {
    height: 100%;
    overflow: hidden;
}
.nfm.wrap {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.nfm.menu {
    position: relative;
    margin: 0;
    border: 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0;
    z-index: 9;
}

.nfm.sidebar {
    position: absolute 0 * * 0;
    padding-top: 48px;
    width: 250px;
    height: 100%;
    border-right: 5px solid rgba(34, 36, 38, 0.15);
    z-index: 2;
}

.nfm.content {
    position: absolute 48px 0 * 0;
    margin-left: 250px;
    height: 100%;
    z-index: 2;
}