/**
 * 默认主题
 */

/* loadingbar */
$loadingbarBgColor: #ffa500;
$loadingbarBoxShadow: #ff0000 1px 0 6px 1px;

/* header */
$headerBgColor: #24262d;
$headerBorderBottom: 1px solid #444;
$headerLogoColor: rgba(255, 255, 255, .9);
$headerNavItemColor: #aeafb2;
$headerNavItemColor_hover: #fff !important;
$headerNavItemHover_aColor: #fff !important;
$headerMenuSpanColor: #767676;

/* sidebar */
$sidebarBgColor: #343640;
$liAColor: rgba(255, 255, 255, .6);
$liAColor_hover: rgba(255, 255, 255, .9);

/* workspace */
$workspaceBgColor: rgba(255, 255, 255, .7);

$btnColor_hover: #000;
$btnBgColor_hover: rgba(255, 255, 255, .9);

$btnColor_active: rgba(255, 255, 255, .9);
$btnBgColor_active: #0B8BF1;

$btnColor_focus: rgba(255, 255, 255, .9);
$btnBgColor_focus: #0B8BF1;

$deteleBtnColor_hover: rgba(255, 255, 255, .9);
$deteleBtnColor_focus: rgba(255, 255, 255, .9);
$deteleBtnColor_active: rgba(255, 255, 255, .9);

$deteleBtnBgColor_hover: #DB2828;
$deteleBtnBgColor_focus: #DB2828;
$deteleBtnBgColor_active: #DB2828;

/* table */
$trEvenBgColor: rgba(0, 0, 50, .02);
$trBoxShadow_hover: 0 0 0 #C9BA9B inset;
$trBoxShadow_active: 0 0 0 #C9BA9B inset;

$trBgColor_hover: #fffaf3;
$trBgColor_active: #fffaf3;

$trHover_tdColor: #573a08;
$trActive_tdColor: #573a08;

$tableAColor: rgba(0, 0, 0, .87);

$inputBorderColor_focus: rgba(0, 0, 0, .3);

$bColor: #ff5722;

/* 自定义icon颜色 */
$iconColor: rgba(61, 163, 239, .95);

/* bookmark */
$bookmarkColor: rgba(255, 255, 255, .6);
$bookmarkBorderBottom: 2px solid #444;
$iconBookmarkColor: #FBBD08 !important;

/* history */
$historyBg: #fff;
$historyBorderLeft: 1px solid #e1e1e1;

/* 载入动画 */
$loadBg: #343640;
$doubleBounceBgColor: #fff;