/**
 * 默认主题
 */

/* loadingbar */
.nfm-theme-default .nfm-loadingbar,
.nfm-loadingbar {
  background-color: #ffa500;

  dt, dd {
    box-shadow: #ff0000 1px 0 6px 1px;
  }
}

/* header */
.nfm-theme-default .nfm-header,
.nfm-header {
  background-color: #24262d;
  border-bottom: 1px solid #444;

  .menu {
    .logo {
      color: rgba(255, 255, 255, .9);
    }

    .item {
      color: #aeafb2;
    }

    a.item:hover {
      color: #fff !important;
    }
  }
}

/* sidebar */
.nfm-theme-default .nfm-sidebar,
.nfm-sidebar {
  background-color: #343640;

  .sidebar-main li > a {
    color: rgba(255, 255, 255, .6);

    &:hover {
      color: rgba(255, 255, 255, .9);
    }
  }
}

/* workspace */
.nfm-theme-default .nfm-workspace,
.nfm-workspace {
  background-color: rgba(255, 255, 255, .7);

  .nfm.buttons .button:hover {
    color: #000;
    background-color: rgba(255, 255, 255, .9);
  }

  .nfm.buttons .button:active,
  .nfm.buttons .button:focus {
    color: rgba(255, 255, 255, .9);
    background-color: #0B8BF1;
  }

  .nfm.buttons .detele.button:hover,
  .nfm.buttons .detele.button:focus,
  .nfm.buttons .detele.button:active {
    color: rgba(255, 255, 255, .9);
    background-color: #DB2828;
  }
}

/* table */
.nfm-theme-default .nfm-table,
.workspace-table {
  tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 50, .02);
  }

  tbody tr:hover, tbody tr:active {
    box-shadow: 0 0 0 #C9BA9B inset;
    background-color: #fffaf3;

    td {
      color: #573a08;
    }
  }

  a {
    color: rgba(0, 0, 0, .87);
  }

  .ui.input input:focus {
    border-color: rgba(0, 0, 0, .3);
  }
}

/* 自定义icon颜色 */
.nfm-theme-default i.i-color.icon,
i.i-color.icon {
  color: rgba(61, 163, 239, .95);
}