/* 
  清除浮动
  参考bootstrap
  http://stackoverflow.com/questions/14973317/understanding-bootstraps-clearfix-class
*/
@define-mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}